.teal-border {
    border-style: solid;
    border-width: 1px;
    border-color: rgb(0, 180, 180);
}

.card {
    margin: 15px;
    min-height: 200px;
    min-width: 200px;
    max-width: 700px;
}

.narrow-screen-only {
    display: block;
}

@media screen and (min-width: 730px) {
    .narrow-screen-only {
        display: none;
    }

    .card {
        margin-left: auto;
        margin-right: auto;
    }
}

.card a {
    color: rgb(230, 230, 230);
}

.card a:hover {
    background-color: rgba(255, 255, 255, 0.16);
}

.inline-code {
    border-style: solid;
    border-width: 1px;
    border-color: rgb(256, 165, 0);
    padding-left: 4px;
    padding-right: 4px;
    margin-left: 2px;
    margin-right: 2px;
}

.code-block {
    display: block;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(256, 165, 0);
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 0px;
    margin-right: 0px;
    padding: 15px;
    overflow-x: auto;
}

.large-text {
    font-size: 18px;
}

.medium-text {
    font-size: 15px;
}

.small-text {
    font-size: 12px;
}

.white-text {
    color: rgb(230, 230, 230);
}

.title-text {
    font-family: monospace;
    text-align: center;
}

.date-text {
    font-family: monospace;
    text-align: center;
}

.content-text {
    font-family: monospace;
    margin-left: 15px;
    margin-right: 15px;
    text-align: justify;
    line-height: 1.4;
}
