@use "colors";

.warning {
  border-color: colors.$red;
  border-style: solid;
  border-width: 1px 1px 1px 5px;
  padding: 1rem;
  background-color: colors.$transparent-red;
}

.warning::before {
  content: "⚠";
}
