@use "colors";
@use "fonts";

nav {
    background-color: colors.$gray;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav a {
    color: colors.$soft-white;
    font-family: fonts.$default-font-family;
    font-size: fonts.$medium-font-size;
    margin-right: 1rem;
    text-decoration: none;
}

nav a:hover {
    background-color: colors.$transparent-white;
}