@use "colors";
@use "fonts";


.post-title {
  font-size: fonts.$large-font-size;
  text-align: center;
}

.post-date {
  font-size: fonts.$small-font-size;
  text-align: center;
}

.post-list {
    list-style-type: none;
    display: flex;
    flex-direction: column;
}

.post-list li {
    color: colors.$soft-white;
    font-size: fonts.$medium-font-size;
    list-style: none;
    gap: 0;
    padding: 0;
}

.post-content {
  font-size: fonts.$medium-font-size;
  line-height: 1.5rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

code {
  border: 1px solid colors.$orange;
  padding: 0 0.25rem;
}

pre code {
  display: block;
  margin: 1rem 0;
  padding: 1rem 2rem;
  overflow-x: auto;
}
